p{
    background-color: blue;
    font-size: 30px;
    width: 300px;
}
.color
{
    color: red;
}
.message
{
    display: none;
position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px; 

}
body{height: 4000px;}
.hello
{
    color: blue;
    background-color: red;
    position: absolute;
    left: 50px;
    top: 500px;
    width: 200px;
}
.change
{
    display: none;
}